---
---

h2#roster,
h2#stats,
h2#hours-of-activity,
h2#timeline {
  padding-top: 0px !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { padding: 0; margin: 0; font: inherit; font-size: 100%; vertical-align: baseline; border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-spacing: 0; border-collapse: collapse; }

/* LAYOUT STYLES */

body, #container {
  background: #efefef;
}

body { font-family: 'Helvetica Neue', Helvetica, Arial, serif; font-size: 1em; line-height: 1.5; color: #6d6d6d; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

a, a:visited {
  color: #e00000 ;
  text-decoration: none;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
}

a:hover, a:focus, a:active {
  color: #ff6464 ;
  text-decoration: none;
}

header { padding-top: 35px; padding-bottom: 25px; }

#container { min-height: 595px; }

.inner { width: 620px; margin: 0 auto; }

#container .inner img { max-width: 100%; }

#downloads { margin-bottom: 40px; }

a.button { display: block; float: left; width: 179px; padding: 12px 8px 12px 8px; margin-right: 14px; font-size: 15px; font-weight: bold; line-height: 25px; color: #303030; background: #fdfdfd; /* Old browsers */ background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f2f2f2)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); /* IE10+ */ background: linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */ border-top: solid 1px #cbcbcb; border-right: solid 1px #b7b7b7; border-bottom: solid 1px #b3b3b3; border-left: solid 1px #b7b7b7; border-radius: 30px; -webkit-box-shadow: 10px 10px 5px #888; -moz-box-shadow: 10px 10px 5px #888; box-shadow: 0px 1px 5px #e8e8e8; -moz-border-radius: 30px; -webkit-border-radius: 30px; }

a.button:hover { background: #fafafa; /* Old browsers */ background: -moz-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f6f6f6)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%); /* IE10+ */ background: linear-gradient(top, #fdfdfd 0%, #f6f6f6, 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */ border-top: solid 1px #b7b7b7; border-right: solid 1px #b3b3b3; border-bottom: solid 1px #b3b3b3; border-left: solid 1px #b3b3b3; }

a.button span { display: block; height: 23px; padding-left: 50px; }

#download-zip span { background: transparent url(../images/zip-icon.png) 12px 50% no-repeat; }

#download-tar-gz span { background: transparent url(../images/tar-gz-icon.png) 12px 50% no-repeat; }

#view-on-github span { background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat; }

#view-on-github { margin-right: 0; }

code, pre { margin-bottom: 30px; font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal; font-size: 14px; color: #222; }

code { padding: 0 3px; background-color: #f2f2f2; border: solid 1px #ddd; }

pre { padding: 20px; overflow: auto; color: #f2f2f2; text-shadow: none; background: #303030; }

pre code { padding: 0; color: #f2f2f2; background-color: #303030; border: none; }

ul, ol, dl { margin-bottom: 20px; }

/* COMMON STYLES */

hr { height: 1px; padding-bottom: 1em; margin-top: 1em; line-height: 1px; background: transparent url("../images/hr.png") 50% 0 no-repeat; border: none; }

strong { font-weight: bold; }

em { font-style: italic; }

table { width: 100%; border: 1px solid #ebebeb; }

th { font-weight: 500; }

td { font-weight: 300; text-align: center; border: 1px solid #ebebeb; }

form { padding: 20px; background: #f2f2f2; }

/* GENERAL ELEMENT TYPE STYLES */

header span.flowers-logo { font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif; font-size: 48px; font-weight: 900; line-height: 1.2; color: #303030; letter-spacing: -1px; text-align: center; display: block; }

header span.nav-links {
  line-height: 1.3;
  font-size: 100%;
  letter-spacing: 0;
  font-weight: 500;
  display: block;
}

h1, h2, footer, span.nav-links {
  text-align: center;
}

h2, header span.nav-links {
  padding: 18px 0 10px;
}

h2 { margin-bottom: 8px; font-size: 22px; font-weight: bold; color: #303030; }

h3 { margin-bottom: 8px; font-weight: bold;
  font-size: 100%;
  color: #303030;
  margin-top: 30px;
}

h4 { font-size: 16px; font-weight: bold; color: #303030; }

h5 { font-size: 1em; color: #303030; }

h6 { font-size: .8em; color: #303030; }

p { margin-bottom: 20px; font-weight: 300;
  text-align: center;
}

a { text-decoration: none; }

p a { font-weight: 400; }

blockquote { padding: 0 0 0 30px; margin-bottom: 20px; font-size: 1.6em; border-left: 10px solid #e9e9e9; }

ul li { list-style-position: inside; list-style: disc; padding-left: 20px; }

ol li { list-style-position: inside; list-style: decimal; padding-left: 3px; }

dl dt { color: #303030; }

footer { padding-top: 20px; padding-bottom: 30px; margin-top: 40px; font-size: 13px; color: #aaa; background: transparent url("../images/hr.png") 0 0 no-repeat; }

footer a { color: #666; }

footer a:hover { color: #444; }

/* MISC */

.clearfix:after { display: block; height: 0; clear: both; visibility: hidden; content: '.'; }

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }

.clearfix { display: block; }

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) { header { padding-top: 10px; padding-bottom: 10px; }
  #downloads { margin-bottom: 25px; }
  #download-zip, #download-tar-gz { display: none; }
  .inner { width: 94%; margin: 0 auto; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */

/* LOGO */

a.flowers-logo {
  color: #000;
  background: url(https://tankpit-flowers.github.io/images/flowers-logo.png) no-repeat top left;
  background-size: 230px auto;
  text-indent: -100000px !important;
  display: inline-block;
  width: 230px;
  height: 57px;
}

a.flowers-logo:visited,
a.flowers-logo:hover,
a.flowers-logo:focus,
a.flowers-logo:active {
  color: #000;
}

.last_updated {
  font-size: 100%;
  color: #444;
  letter-spacing: 0;
  font-weight: 300;
}

span.timeline-date {
  font-weight: 500;
  display: block;
  width: 100%;
}

span.timeline-blurb {
  font-weight: 300;
  display: block;
  width: 100%;
}

span.timeline-em {
  font-weight: 500 !important;
}

/* Hiding stuff */

section#downloads {
  display: none !important;
}

/* Changing spaces, widths + centering */

section#main_content {
  margin: 0 0 3em;
}

hr {
  margin-top: 0;
}

@media only screen and (max-width: 767px) {
  h2 {
    padding: 12px 0 4px;
  }
}

/* Table fonts + colors */

table.roster {
  margin: 0 auto;
  width: 360px;
}

@media only screen and (max-width: 400px) {
  table.roster {
    width: 300px !important;
  }
  
  table.stats, table.activity {
    width: 300px !important;
  }
  
  span.red, 
  span.orange,
  span.purple,
  span.blue, 
  span.gray,
  span.awards-container {
    width: 150px !important;
  }
  span.stat_hours {
    width: 70px !important;
  }

  span.stat_kills {
    width: 30px !important;
  }
  
  span.stat_deactivated {
    width: 40px !important;
  }
  
  span.activity_col1,
  span.activity_col2,
  span.activity_col3 {
    width: 46px !important;
  }
}

table.roster td {
  font-weight: 500;
  padding: 2px;
  background-color: #ffffe0;
  vertical-align: middle;
}

table.stats {
  margin: 0 auto;
  width: 410px;
}

table.activity {
  margin: 0 auto;
  width: 365px;
}

table.stats td, table.activity td {
  padding: 2px;
  background-color: #ffffe0;
  vertical-align: middle;
}

table.stats span.red,
table.stats span.purple,
table.stats span.blue,
table.stats span.orange,
table.activity span.red,
table.activity span.purple,
table.activity span.blue,
table.activity span.orange {
  font-weight: 500;
}

table.roster span.roster_header,
table.stats span.stat_header,
table.stats span.stat,
table.activity span.activity_header,
table.activity span.activity {
  font-weight: 300;
  margin: 0 5px 0; 
  display: block;
}

span.stat_hours {
  width: 90px;
}

span.stat_kills {
  width: 50px;
}

span.stat_deactivated {
  width: 90px;
}

span.activity_col1 {
  width: 55px;
}

span.activity_col2 {
  width: 61px;
}

span.activity_col3 {
  width: 67px;
}

span.stat_sorted,
span.activity_sorted {
  font-weight: 500 !important;
}

span.red, 
span.orange,
span.purple,
span.blue, 
span.gray,
span.awards-container {
  width: 180px;
  margin: 0 5px 0; 
  display: block;
}

span.red, span.timeline-red {
  color: #e00000;
  /*color: #ff6666;*/
}

span.orange, span.timeline-orange {
  color: #ff9000;
  /*color: #ffcc66;*/
}

span.purple, span.timeline-purple {
  color: #df00e0;
  /*color: #cc66cc;*/
}

span.blue, span.timeline-blue {
  color: #0000e0;
  /*color: #6666ff;*/
}

span.gray {
  color: #666; 
}

span.timeline-red,
span.timeline-purple,
span.timeline-blue,
span.timeline-orange {
 font-weight: 500 !important; 
}

/* Screenshots & videos */

.game-screenshot {
  margin: 0 auto;
  width: 95%;
  height: auto;
  padding: 2%;
  background-color: #fafbfc;
  border: 1px solid #e1e4e8;
}

.game-video {
  margin: 0 auto;
  width: 95%;
  height: 316px;
  padding: 2%;
  background-color: #fafbfc;
  border: 1px solid #e1e4e8;
}

@media only screen and (max-width: 767px) and (min-width: 584px) {
  .game-video {
    height: 360px !important;
  }
}

@media only screen and (max-width: 584px) and (min-width: 400px) {
  .game-video {
    height: 300px !important;
  }
}

@media only screen and (max-width: 400px) {
  .game-video {
    height: 190px !important;
  }
}

/* Awards */

.awards-sprite.a0-1 {
    background-position: -13px 0;
    width: 13px;
    height: 16px;
}

.awards-sprite.a0-2 {
    background-position: -26px 0;
    width: 13px;
    height: 16px;
}

.awards-sprite.a0-3,
.award-generator-0 {
    background-position: -39px 0;
    width: 13px;
    height: 16px;
}

.awards-sprite.a1-1 {
    background-position: -82px 0;
    width: 30px;
    height: 16px;
}

.awards-sprite.a1-2 {
    background-position: -112px 0;
    width: 30px;
    height: 16px;
}

.awards-sprite.a1-3,
.award-generator-1 {
    background-position: -142px 0;
    width: 30px;
    height: 16px;
}

.awards-sprite.a2-1 {
    background-position: -181px 0;
    width: 9px;
    height: 16px;
}

.awards-sprite.a2-2 {
    background-position: -190px 0;
    width: 9px;
    height: 16px;
}

.awards-sprite.a2-3,
.award-generator-2 {
    background-position: -199px 0;
    width: 9px;
    height: 16px;
}

.awards-sprite.a3-1 {
    background-position: -217px 0;
    width: 9px;
    height: 16px;
}

.awards-sprite.a3-2 {
    background-position: -226px 0;
    width: 9px;
    height: 16px;
}

.awards-sprite.a3-3,
.award-generator-3 {
    background-position: -235px 0;
    width: 9px;
    height: 16px;
}

.awards-sprite.a4-3,
.award-generator-4 {
    background-position: -277px 0;
    width: 11px;
    height: 16px;
}

.awards-sprite.a5-1 {
    background-position: -301px 0;
    width: 13px;
    height: 16px;
}

.awards-sprite.a5-2 {
    background-position: -314px 0;
    width: 13px;
    height: 16px;
}

.awards-sprite.a5-3,
.award-generator-5 {
    background-position: -327px 0;
    width: 13px;
    height: 16px;
}

.awards-sprite.a6-1,
.award-generator-6 {
    background-position: -340px 0;
    width: 11px;
    height: 16px;
}

.awards-sprite.a7-1,
.award-generator-7 {
    background-position: -351px 0;
    width: 11px;
    height: 16px;
}

.awards-sprite.a8-1,
.award-generator-8 {
    background-position: -376px 0;
    width: 14px;
    height: 16px;
}

.awards-sprite {
    background: url(https://tankpit-flowers.github.io/images/awards.gif) no-repeat top left;
    display: inline-block;
}

/* Stars, medals, swords, DoT, cups need 1 space to either side */

.awards-sprite.a0-1, .awards-sprite.a0-2, .awards-sprite.a0-3,
.awards-sprite.a2-1, .awards-sprite.a2-2, .awards-sprite.a2-3,
.awards-sprite.a3-1, .awards-sprite.a3-2, .awards-sprite.a3-3,
.awards-sprite.a4-3,
.awards-sprite.a5-1, .awards-sprite.a5-2, .awards-sprite.a5-3,
.award-generator-0,
.award-generator-2,
.award-generator-3,
.award-generator-4,
.award-generator-5 {
  margin: 0 1px 0 1px;
}

/* Tanks needs one space to the left (already has one space to the right by default) */

.awards-sprite.a1-1, .awards-sprite.a1-2, .awards-sprite.a1-3,
.award-generator-1 {
  margin: 0 0 0 1px;
}

/* PH (already has one space to either by default), WC, LB small space to either side */

.awards-sprite.a6-1, .awards-sprite.a7-1, .awards-sprite.a8-1,
.award-generator-6,
.award-generator-7,
.award-generator-8 {
  margin: 0 0.5px 0 0.5px;
}

/* Award generator*/

table.award-generator-selection {
  width: 50%;
}

table.award-generator-show {
  width: 180px;
}

table.award-generator-selection,
table.award-generator-show {
  margin: 0 auto 25px;
}

table.award-generator-selection td {
  width: 10%;
}

table.award-generator-selection td,
table.award-generator-show td {
  background-color: #ffffe0;
  font-weight: 500;
}
