---
---

@import "{{ site.theme }}";
  

/* Body styles */

body, #container {
  background: #ffffe0;
}

/* Hide stuff */

section#downloads {
  display: none !important;
}

header h2 {
 display: none !important;
}

footer {
  display: none !important;
}

/* Changing spaces, widths + centering */

section#main_content {
  margin: 0 0 3em;
}

hr {
  margin-top: 0;
}

h1, h2 {
  text-align: center;
}

h2 {
  padding: 1em 0 0.75em;
}

@media only screen and (max-width: 767px) {
  h2 {
    padding: 12px 0 4px;
  }
}


@media only screen and (max-width: 600px) {
  span.red, span.orange, span.purple, span.blue, span.gray, span.awards-container  {
    display: block !important;
  }
}

/* Table fonts + colors */

td {
  width: 50%;
  font-weight: 500;
  padding: 5px;
}

span.red, span.orange, span.purple, span.blue, span.gray {
  margin: 0 5px 0; 
  display: inline-block;
  position: relative;
  top: 1px;
}

span.red {
  color: #ff6666;
}

span.orange {
  color: #ffcc66;
}

span.purple {
  color: #cc66cc;
}

span.blue {
  color: #6666ff;
}

span.gray {
  color: #666; 
}

span.awards-container {
  display: inline-block;
  position: relative;
  top: 2px;
}

/* Awards */

.awards-sprite.a0-1 {
    background-position: -13px 0;
    width: 13px;
    height: 16px;
}

.awards-sprite.a0-2 {
    background-position: -26px 0;
    width: 13px;
    height: 16px;
}

.awards-sprite.a0-3 {
    background-position: -39px 0;
    width: 13px;
    height: 16px;
}

.awards-sprite.a1-1 {
    background-position: -82px 0;
    width: 30px;
    height: 16px;
}

.awards-sprite.a1-2 {
    background-position: -112px 0;
    width: 30px;
    height: 16px;
}

.awards-sprite.a1-3 {
    background-position: -142px 0;
    width: 30px;
    height: 16px;
}

.awards-sprite.a2-1 {
    background-position: -181px 0;
    width: 9px;
    height: 16px;
}

.awards-sprite.a2-2 {
    background-position: -190px 0;
    width: 9px;
    height: 16px;
}

.awards-sprite.a2-3 {
    background-position: -199px 0;
    width: 9px;
    height: 16px;
}

.awards-sprite.a3-1 {
    background-position: -217px 0;
    width: 9px;
    height: 16px;
}

.awards-sprite.a3-2 {
    background-position: -226px 0;
    width: 9px;
    height: 16px;
}

.awards-sprite.a3-3 {
    background-position: -235px 0;
    width: 9px;
    height: 16px;
}

.awards-sprite.a4-3 {
    background-position: -277px 0;
    width: 11px;
    height: 16px;
}

.awards-sprite.a5-1 {
    background-position: -301px 0;
    width: 13px;
    height: 16px;
}

.awards-sprite.a5-2 {
    background-position: -314px 0;
    width: 13px;
    height: 16px;
}

.awards-sprite.a5-3 {
    background-position: -327px 0;
    width: 13px;
    height: 16px;
}

.awards-sprite.a6-1 {
    background-position: -340px 0;
    width: 11px;
    height: 16px;
}

.awards-sprite.a7-1 {
    background-position: -351px 0;
    width: 11px;
    height: 16px;
}

.awards-sprite.a8-1 {
    background-position: -376px 0;
    width: 14px;
    height: 16px;
}

.awards-sprite {
    background: url(https://cloud.githubusercontent.com/assets/27748085/25161736/ae87081a-2472-11e7-90c1-d8c7339106c0.gif) no-repeat top left;
    display: inline-block;
}

/* Stars, medals, swords, DoT, cups, WC need 1 space to either side */

.awards-sprite.a0-1, .awards-sprite.a0-2, .awards-sprite.a0-3,
.awards-sprite.a2-1, .awards-sprite.a2-2, .awards-sprite.a2-3,
.awards-sprite.a3-1, .awards-sprite.a3-2, .awards-sprite.a3-3,
.awards-sprite.a5-1, .awards-sprite.a5-2, .awards-sprite.a5-3,
.awards-sprite.a4-3,
.awards-sprite.a7-1 {
  margin: 0 1px 0 1px;
}

/* Tanks needs one space to the left (already has one space to the right by default) */

.awards-sprite.a1-1, .awards-sprite.a1-2, .awards-sprite.a1-3 {
  margin: 0 0 0 1px;
}

/* PH (already has one space to either by default), LB untouched */
