---
---

@import "{{ site.theme }}";

section#downloads {
  display: none !important;
}

section#main_content {
  margin: 0 0 1em !important;
}

hr {
  margin-top: 0 !important;
}

footer {
  display: none !important;
}
